<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <form enctype="multipart/form-data">
    <input type="file" id="filepicker" name="fileList" webkitdirectory multiple>
    <select name="" id="">
        <% for (let i = 0; i < Object.keys(mode).length; i++) { %>
          <option value=""> <%= Object.keys(mode)[i] %>  </option>
        <% } %>
    </select>
    <button>Rename</button>
    <ul id="listing"></ul>
  </form>

  <script>
    let mode = {
        image: ['png', 'gif', 'svg', 'jpeg', 'jpg', 'bmp', 'webp'],
        application: ['exe', 'apk', 'dmg'],
        archive: ['zip', 'rar'],
    }

    document.getElementById("filepicker").addEventListener("change", (event) => {
    let output = document.getElementById("listing");
    for (const file of event.target.files) {
        let extension = file.name.slice(file.name.lastIndexOf('.') +1 )
              if (mode.image.includes(extension)) {
                  let item = document.createElement("li");
                  item.textContent = file.name;
                  output.appendChild(item);
              }
          }
      },  false,  );
  </script>
</body>
</html>
