<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="getfiles" method="post" enctype="multipart/form-data">
        <input type="file" id="filepicker" name="fileList" webkitdirectory multiple>
        <select>
            <% for (let i = 0; i < Object.keys(mode).length; i++) { %>
                <option value=""> <%= Object.keys(mode)[i] %>  </option>
            <% } %>
        </select>
        <button type="submit">Rename</button>
        <ul id="listing"></ul>
    </form>

<script>
    export let mode = {
        image: ['png', 'gif', 'svg', 'jpeg', 'jpg', 'bmp', 'webp'],
        application: ['exe', 'apk', 'dmg'],
        archive: ['zip', 'rar'],
    }
    document.getElementById("filepicker").addEventListener("change",  (event) => {
        let output = document.getElementById("listing");
        for (const file of event.target.files) {
            let extension = file.name.slice(file.name.lastIndexOf('.') +1 )
            console.log(extension)
            if (mode.image.includes(extension)) {
                let item = document.createElement("li");
                item.textContent = file.name;
                output.appendChild(item);
            }
        }
    }, false, );
</script>

<style>
    body {
        background: skyblue;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }
    button {
        background: greenyellow;
        padding: 10px 40px;
        border-radius: 4px;
        border: 0;
        font-size: 20px;
        transition: .2s;
        cursor: pointer;
    }
    button:hover {
        background: rgb(147, 224, 32);
    }
    ul {
        max-height: 40vh;
        overflow: scroll;
        background: lightblue;
        padding: 20px;
    }
    ul:empty {
        display: none;
    }
</style>
</body>
</html>
